  <!--MODAL AGREGAR PROYECTOS-->
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-agregar-proyectos"> <!--debe coincidir con el id de los modales de abajo-->
    <i class="fa-sharp fa-solid fa-plus" title="agregar"></i>
  </button>


  
<!--MODALES--> <!--cuadro de dialogo--> 
    <!-- Modal Agregar --> <!-- el id="" estaremos llamando desde nuestro trigger o disparador con nuestro boton que tenemos-->
    <div class="modal fade" id="modal-agregar-proyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header"> <!--modal de encabezado-->
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar proyectos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--boton X de arriba a la derecha del modal-->
          </div>

          <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
          <div class="modal-body"> <!--cuerpo de modal-->
          
              <div class="mb-3"> <!--Titulo-->
                <label for="Titulo" class="form-label">Titulo</label>
                <input class="form-control" type="text" id="Titulo" formControlName="titulo" [(ngModel)]="titulo" [class.border-danger]="TituloValid">
              </div>
              <div *ngIf="Titulo?.errors  && Titulo?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                <p *ngIf="Titulo?.hasError('required')" class="error">
                    El campo es requerido.
                </p>
              </div>

            
              <div class="mb-3"> <!--experiencia Url-->
                <label for="experienciaUrl" class="form-label">Agregar Link</label>
                <input class="form-control" type="url" id="experienciaUrl" formControlName="link" [(ngModel)]="link" [class.border-danger]="LinkValid">
              </div>
              <div *ngIf="Link?.errors  && Link?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                <p *ngIf="Link?.hasError('required')" class="error">
                    El campo es requerido.
                </p>
              </div>

              <div class="mb-3"> <!--Experiencia Img-->
                <label for="experienciaImg" class="form-label">Agregar Imagen</label>
                <input class="form-control" type="url" id="experienciaImg" formControlName="imagen" [(ngModel)]="imagen" [class.border-danger]="ImagenValid">
              </div>
              <div *ngIf="Imagen?.errors  && Imagen?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                <p *ngIf="Imagen?.hasError('required')" class="error">
                    El campo es requerido.
                </p>
              </div>
  
              <div class="mb-3"> <!--descripcion-->
                <label for="Descripcion" class="form-label">Descripcion</label> <!--LABEL ES ETIQUETA-->
                <textarea class="form-control" id="Descripcion" formControlName="descripcion" [(ngModel)]="descripcion" [class.border-danger]="DescripcionValid"> </textarea> <!--textarea es una entrada de texto largo-->
              </div>
              <div *ngIf="Descripcion?.errors  && Descripcion?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                <p *ngIf="Descripcion?.hasError('required')" class="error">
                    El campo es requerido.
                </p>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiar()">Cerrar</button> <!--cerrar-->
            <button type="submit" class="btn btn-primary">Agregar</button> <!--ingresar-->
          </div>
        
      </form>
        </div>
      </div>
    </div>