#proyectos{
    position: relative;
    
}

.editar-proyectos{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
}

.row div{
    text-align: center;  
}

.row{
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.proyectos{
    color: black;
}




