<!--seccion proyectos-->
<section id="proyectos">
  <div class="container">


    <div class="row titulo-proyectos">
      <h2>Proyectos</h2>
      <div class="editar-proyectos" *ngFor="let proyecto of proyectos">
        <div *ngIf="modoEdit">
        <app-agregar-proyectos></app-agregar-proyectos>
        <app-editar-proyectos></app-editar-proyectos>
        <button type="button" class="btn" (click)="delete(proyectoSeleccionado)">
          <i class="fa-solid fa-trash" title="borrar"></i>
        </button>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 descripcion-proyectos">
      
      <div class="col columnita" *ngFor="let proyecto of proyectos">
        <div class="card">
          <input *ngIf="modoEdit" type="radio" name="experiencia" title="eliminar" [(ngModel)]="proyectoSeleccionado" [value]="proyecto.id" />
          <a [href]="proyecto.link" target="_blank">
          <img [src]="proyecto.imagen" class="card-img-top" alt="..." class="img-fluid card-img imagen-proyecto">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{proyecto.titulo}}</h5>
            <p class="card-text descripcion-proyecto">{{proyecto.descripcion}}</p>
          </div>
          </div>
      </div>      
    </div>
   
    </div>
    </div>
  </div>
</section>




