<!--seccion Experiencia laboral-->
<section id="experiencia">
  <div class="container">

    <div class="row titulo-experiencia">
      <h2>Experiencia</h2>
    <div class="editar-experiencia" *ngFor="let experiencia of experiencias">
      <div *ngIf="modoEdit">
      <app-agregar-experiencia></app-agregar-experiencia>
      <app-editar-experiencia></app-editar-experiencia>
    </div>
      <!-------boton para eliminar-------->
<!-- <button type="button" class="btn" (click)="delete(experiencia.id)">
  <i class="fa-solid fa-trash" title="borrar"></i>
</button> -->
    <!-- agregar un botón para eliminar la experiencia seleccionada -->
    <button *ngIf="modoEdit" type="button" class="btn" (click)="delete(experienciaSeleccionada)">
      <i class="fa-solid fa-trash" title="borrar"></i>
    </button>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 descripcion-tarjeta" >
      
          <div class="col columnitas" *ngFor="let experiencia of experiencias">
            <div class="card">
               <!-- agregar un botón de selección junto a cada tarjeta de experiencia -->
    <input *ngIf="modoEdit" type="radio" name="experiencia" title="eliminar" [(ngModel)]="experienciaSeleccionada" [value]="experiencia.id" />
              <!--url de la empresa-->
              <a [href]="experiencia.link" target="_blank"> 
                <!--imagen/logo de la empresa-->
                <img [src]="experiencia.logo" class="card-img-top" alt="..." class="img-fluid card-img imagen-trabajo">
              </a>
              <div class="card-body cuerpo-card">
                <!--empresa-->
                <h5 class="card-title nombre-empresa">{{experiencia.nombre_empresa}}</h5>
                <!--titulo/puesto-->
                <h5 class="card-title puesto">{{experiencia.puesto}}</h5>
                <!--inicio y fin-->
                <p class="card-text fecha-trabajo">{{experiencia.fecha_inicio}} - {{experiencia.fecha_fin}}</p>
                <!--descripcion del puesto-->
                <p class="card-text descripcion-trabajo">{{experiencia.descripcion}} </p>
                <!-- <p class="card-text descripcion-trabajo">{{exp.descripcionParrafo2}}</p>
                <p class="card-text descripcion-trabajo">{{exp.descripcionParrafo3}}</p>
                <p class="card-text descripcion-trabajo">{{exp.descripcionParrafo4}}</p> -->
              </div>
              </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</section>

<br />
