<!--seccion Experiencia laboral-->
<section id="experiencia">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h2>Experiencia</h2>

        <p><strong>texto en negrita</strong></p>
        <!--strong resalta, strike tacha, i es cursiva-->
        <p>texto tachado</p>
        <p><i>texto en cursiva</i></p>

        <div class="editar-experiencia">
          <app-agregar-experiencia></app-agregar-experiencia>
          <app-editar-experiencia></app-editar-experiencia>
        </div>
      </div>
    </div>
  </div>
</section>

<br />
