#experiencia h2{
    position: relative;
}

.editar-experiencia{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
}

.fecha-trabajo{
    text-align: center;
}

.descripcion-trabajo{
    text-align: left;  
    text-align: justify;
    margin: 0% auto;
}

.imagen-trabajo {
    max-width: 260px;
    }

@media (max-width:991px){
    .row {
        text-align: center;
    }
    .columnitas{
        max-width: 374px;
    }
    .imagen-trabajo{
        padding-top: 20px;
        max-width: 200px;
    }


}


/**@media (max-width:767px){
    .tarjeta{
        max-width: 400px;
    }
    .imagen-trabajo{
        max-width: 250px;
    }
}**/



.row{
    /**align-items: center;**/
    justify-content: center;
}

h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.descripcion-tarjeta{
    color: white;
}

.card {
    background-color:   rgba(0, 0, 0, 0.566);
}


