<section id="contacto">

<!--PIE DE PAGINA-->
<hr />
<!--una linea-->
<!--seccion contactos-->
<section class="contactar">
  <div class="container">
    <div class="row">
      <div class="col">
      <h3>Contacto</h3>
      <br />

      <!--formulario de contacto-->
      <app-formulario-contacto></app-formulario-contacto>

     
    </div>
  </div>
</div>
</section>



<!--PIE DE PAGINA FOOTER GMAIL Y N° DE CONTACTO COMPLETARRRRRRR-->
<section>
  <div class="modal"></div>
</section>

<footer id="footerContactos">
  <article class="telefono_mail" *ngFor="let contacto of contactos">
    <ul>
      <li>
        <i class="fas fa-mobile-alt" aria-hidden="true"> </i> {{contacto.celular}}
      </li>
      <li>
        <i class="fas fa-envelope" aria-hidden="true"></i> {{contacto.email}}
      </li>
    </ul>
  </article>
  <aside class="redes-contacto">
    <ul>
      <li *ngFor="let redSocial of redesSociales">
        <a [href]="redSocial.link" title="{{redSocial.title}}" target="_blank"><i class="{{redSocial.logo}}"></i></a>
      </li>
      
      <!--fab fa: de fontawesome-->
      <!--
      <li>
        <a href="https://www.instagram.com" title="Instagram" target="_blank"
          ><i class="fab fa-instagram-square"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com" title="Twitter" target="_blank"
          ><i class="fab fa-twitter-square"></i
        ></a>
      </li>
      <li>
        <a href="https://www.pinterest.es" title="Pinterest" target="_blank"
          ><i class="fab fa-pinterest-square"></i
        ></a>
      </li>
      -->

    </ul>
  </aside>
  <section id="creditos">
   
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">

    <p class="creditos-datos">
      Ramiro Ballon Rios - Full Stack Developer Jr.
    </p>
    <p class="creditos-copyright">
      ©2023 -
      <span class="creditos">Diseñado por <a
          href=""
          title="Ramiro Ballon"
          target="">Ramiro Ballon</a></span>
    </p>

        </div>
      </div>
    </div>
    
  </section>
</footer>

</section>



