<!--PIE DE PAGINA-->
<hr />
<!--una linea-->
<!--seccion contactos-->
<section class="contactar">
  <div class="container">
    <div class="row">
      <div class="col">
      <h3>Contacto</h3>
      <br />

      <div class="col-sm-12">
        <!--salto de linea-->
        <div class="contacto">
         
          <!--es una etiqueta para el imput-->
          <input type="text" placeholder="Nombre" class="text-black"/>
          <!-- input es para escribir en la pagina-->
          <br />
          
          <!--es una etiqueta para el imput-->
          <input type="text" placeholder="Email" />
          <!-- input es para escribir en la pagina-->
</div>

<div class="inputBox">
          
          <!--es una etiqueta para el imput-->
          <textarea class="form-control-sm" required="required" name="message" placeholder="Escriba su mensaje aqui..."></textarea>
    
          <button type="submit" name="sendForm">enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



<!--PIE DE PAGINA FOOTER GMAIL Y N° DE CONTACTO COMPLETARRRRRRR-->
<section>
  <div class="modal"></div>
</section>

<footer id="footerContactos">
  <article class="telefono-contacto">
    <ul>
      <li>
        <i class="fas fa-mobile-alt" aria-hidden="true"> </i> (+54) 11 12345678
      </li>
      <li>
        <i class="fas fa-envelope" aria-hidden="true"></i> ramiroballonrios<i
          class="fas fa-at arroba"></i>gmail.com
      </li>
    </ul>
  </article>
  <aside class="redes-contacto">
    <ul>
      <li>
        <a href="https://www.facebook.com" title="Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
      </li>
      <!--fab fa: de fontawesome-->
      <li>
        <a href="https://www.instagram.com" title="Instagram" target="_blank"
          ><i class="fab fa-instagram-square"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com" title="Twitter" target="_blank"
          ><i class="fab fa-twitter-square"></i
        ></a>
      </li>
      <li>
        <a href="https://www.pinterest.es" title="Pinterest" target="_blank"
          ><i class="fab fa-pinterest-square"></i
        ></a>
      </li>
    </ul>
  </aside>
  <section id="creditos">
   
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">

    <p class="creditos-datos">
      Ramiro Ballon Rios - programador full stack junior
    </p>
    <p class="creditos-copyright">
      ©2022 -
      <span class="creditos"><a
          href="https://argentinaprograma.inti.gob.ar"
          title="Argentina programa 2022"
          target="_blank">Argentina programa 2022</a></span>
    </p>

        </div>
      </div>
    </div>
    
  </section>
</footer>
