 <!--seccion navbar:BARRA DE TAREAS, bootstrap-->
 <section id="barra-de-navegacion">

  <nav class="navbar navbar-expand-sm bg-light fixed-top">   <!--todo lo que pegue son estilos propios de boostrap no los tenemos en nuestra hoja de estilos-->

    <div class="container-fluid contenedor-navbar">
        <a class="logo-arg navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img class="logoAp" src="./../../../assets/img/arg-prog.png" width="" height="40" alt="logo-argentina-prog"></a>
        <!-- <p class="yo-programo text-black"><b>#YoProgramo</b></p> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-redes collapse navbar-collapse justify-content-end ms-6 list-group list-group-horizontal" id="navbarSupportedContent">
          
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#sobremi">Sobre mi</a></li>
              <li><a class="dropdown-item" href="#experiencia">Experiencia</a></li>
              <li><a class="dropdown-item" href="#skills">Skills</a></li>
              <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>
              <li><a class="dropdown-item" href="#contacto">Contacto</a></li>
              <li><a class="dropdown-item bg-primary text-white" href="#">volver a inicio</a></li>
            </ul>
          </div>

          <ul class="navbar-nav list-group list-group-horizontal">            
              <li class="list-group-item"><a href="https://ar.linkedin.com/" title="linkedin" target="_blank"><i class="fa-brands fa-linkedin text-black btn btn-light"></i></a></li> <!--pegamos los iconos de fontawesome-->
              <li class="list-group-item"><a href="https://github.com/RamiroBallon" title="github" target="_blank"><i class="fa-brands fa-github text-black btn btn-light"></i></a></li>
              <li class="list-group-item"><a href="https://codepen.io/" title="codepen" target="_blank"><i class="fa-brands fa-codepen text-black btn btn-light"></i></a></li>
        </ul>
        <div class=" botones-login-logout">
            <app-login></app-login>
            <app-logout></app-logout>
        </div>
        </div>          
        </div>
  </nav>
  
  </section>


 <app-modal-login></app-modal-login>



 

 