.navbar-collapse {
    padding-left: 1rem;
}

.logoAp{
    filter: invert();
}

#barra-de-navegacion{
    position: relative;
}

nav{
    position: none;
}


.barra-de-navegacion{
    background-color: blue;
    position: fixe;
    top: 0;
}

u li{
    border: 0;
}

.navbar-redes ul li{
    border: none;
    padding: 10px;
    background-color: #F8F9FA;
}


.botones-login-logout{
    display: flex;
}








