<!--seccion sobre mi-->

<header>  
  <section id="sobremi">
    <div class="container-fluid" *ngFor="let sobre of sobremis">
      <div class="row">

        <div class="banner col-sm-12">
          <img
            [src]="sobre.imagenBanner"
            alt="custom-banner"
            class="img-fluid"
          />
          <div class="banner-bienvenido" *ngFor="let sobre of sobremis"> 
            <h2 class="bienvenido-typing">{{sobre.tituloBienvenido}}</h2>
          </div>
        </div>
        
      </div>
    </div>


    <div class="container-fluid" *ngFor="let sobre of sobremis">
 
<div class="sobre-mi">

      <div class=" sobre-mi-fila row">


        <!--   ---------COLUMNA 1-------   FOTO, NOMBRE Y ESPECIALIDAD-->
        <div class="col-lg-5 col-md-6 text-center position-relative columna1">

          <div class="imagen-de-perfi">
            <!--foto de perfil-->
            <a [href]="sobre.link" target="_blank">
              <!--a es para redirigir a paginas-->
              <img [src]="sobre.fotoPerfil" class="img-fluid position-absolute translate-middle" alt="muestra-texto-en-caso-de-no-haber-imagen" title="Ramiro Ballon Rios"
              />
            </a>
          </div>

          <!--nombre-->
          <h1 class="nombrePerfil">{{sobre.nombre}}<span class="apellido">{{sobre.apellido}}</span> <!--span es un elemento neutro-->
          </h1>
          <!--especialidad-->
          <div class="especialidad text-white">
            <h4><b>{{sobre.tituloEspecialidad}}</b></h4>
          </div>
        </div>

        
        <!--    ---------COLUMNA 2----------- SOBRE MI Y DESCRIPCION-->
        <div class="col-lg-7 col-md-6 columna2">
          
            <div class="titulo">
              <h2 class="mt-0 pb-0">{{sobre.tituloSobremi}}</h2>
            </div>
            
            <div class="parrafo-descripcion">
            <p>
              {{sobre.descripcion}}
              <!-- <br />Con conocimientos en Backend y Base de datos. -->
              <br />{{sobre.descripcion1}}
            </p>
          </div>

        </div>

        
      </div>

    </div>

    </div>
  </section>

  <div class="editar-sobreMi">
    <app-editar-sobremi></app-editar-sobremi>
  </div>

</header>









