<!--seccion sobre mi-->

<header>  
  <section id="sobremi">
    <div class="container-fluid" *ngFor="let persona of personas">
      <div class="row">

        <div class="banner col-sm-12">
          <img
            [src]="persona.imagen_banner"
            alt="custom-banner"
            class="img-fluid"
          />
          <div class="banner-bienvenido" *ngFor="let persona of personas"> 
            <h2 class="bienvenido-typing">{{persona.titulo_banner}}</h2>
          </div>
        </div>
        
      </div>
    </div>


    <div class="container-fluid" *ngFor="let persona of personas">

<div class="sobre-mi">

      <div class=" sobre-mi-fila row">


        <!--   ---------COLUMNA 1-------   FOTO, NOMBRE Y ESPECIALIDAD-->
        <div class="col-lg-5 col-md-6 text-center position-relative columna1">

          <div class="imagen-de-perfi">
            <!--foto de perfil-->
            <a [href]="persona.link_foto_perfil" target="">
              <!--a es para redirigir a paginas-->
              <img [src]="persona.foto_perfil" class="img-fluid position-absolute translate-middle" alt="muestra-texto-en-caso-de-no-haber-imagen" title="Ramiro Ballon Rios"
              />
            </a>
          </div>
          

          <!--nombre-->
          <h1 class="nombrePerfil">{{persona.nombre}}<span class="apellido">{{persona.apellido}}</span> <!--span es un elemento neutro-->
          </h1>
          <!--especialidad-->
          <div class="especialidad text-white">
            <h4><b>{{persona.titulo_especialidad}}</b></h4>
          </div>
        </div>

        
        <!--    ---------COLUMNA 2----------- SOBRE MI Y DESCRIPCION-->
        <div class="col-lg-7 col-md-6 columna2">
          
            <div class="titulo">
              <h2 class="mt-0 pb-0">Sobre mi</h2>
            </div>
            
            <div class="parrafo-descripcion">
            <p>
              {{persona.descripcion_1_sobre_mi}}
              <!-- <br />Con conocimientos en Backend y Base de datos. -->
              <br />{{persona.descripcion_2_sobre_mi}}
            </p>
          </div>

        </div>

        
      </div>

    </div>

    </div>
  </section>

  <div *ngIf="modoEdit" class="editar-sobreMi">
    
    <app-editar-sobremi></app-editar-sobremi>
    
  </div>


</header>









