<!--seccion sobre mi-->
<header>
  <hr>
  
  <section id="sobremi" class="">
    <!--section es una etiqueta de seccion, sirve para dividir las partes de la pantalla-->
    <h2 class="titulo mt-4 pb-3">SOBRE MI</h2>
    <!--mt margintop:margen superior, pb paddingbottom:relleno margen inferior-->

    <!--grillas con columnas-->
    <div class="container">
      <div class="row">
        <!--fila-->

        <div class="col-sm-6">
          <!--nombre y título-->
          <!--colum 1-->
          <h1 class="nombrePerfil">
            Ramiro <span class="apellido">Ballon Rios</span>
          </h1>
          <!--span es un elemento neutro-->
          <div class="programador text-white">
          <h4>Programador Full Stack Jr</h4>
          </div>
          <div class="parrafo-descripcion">
          <p>
            Soy un developer especializado en el desarrollo de aplicaciones web 
            del lado del cliente (Front-end)
            <br>Con conocimientos en Backend y Base de datos.
            <br>Continuamente aprendiendo y adquiriendo nuevas habilidades tecnológicas en el campo del diseño y desarrollo de 
                aplicaciones web en general.
          </p>
        </div>
        </div>

        <div class="col-sm-6 text-center">
          <!--posicion de columna -->

          <div class="moverimagen banner">
            <!--foto de perfil-->
            <!--column 2-->
            <a href="https://github.com/RamiroBallon" target="_blank">
              <!--a es para redirigir a paginas-->
              <img
                class="img-fluid"
                src="./../../../assets/img/img-perfil-ejemplo.png"
                width="250"
                height=""
                alt="muestra-texto-en-caso-de-no-haber-imagen"
                title="imagen ilustrativa"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="editar-sobreMi">
      <app-editar-sobremi></app-editar-sobremi>
      </div>

  </section>
</header>

