<!--seccion educacion-->
<section id="educacion">
  <div class="container-fluid" >

  <div class="row d1">
    <h2>Educacion</h2>

    <div class="editar-agregar-educacion">
      <app-agregar-educacion></app-agregar-educacion>
      <app-editar-educacion></app-editar-educacion>
    </div>
  </div>

    <br>


    <div class="row n1" *ngFor="let estudio of estudios">

      <div class="col-lg-3 col-md-3 imagen-estudio1">
        <img [src]="estudio.imagen" alt="" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <article>
          <ul>
            <li><strong>{{estudio.titulo}}</strong></li>
            <p>{{estudio.institucion}}</p>
          </ul>
        </article>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 fecha">
      <article>
          <p>{{estudio.inicio}} - {{estudio.fin}}</p>
      </article>
  </div>

    </div>

<br>


   <!-- <div class="row n1">  

      <div class="col-md-2 imagen-estudio2">
        <img src="./../../../assets/img/ESTUDIOS-UBA.png" alt="" class="img-fluid">
      </div>
      <div class="col-sm-5">
        <article>
          <ul>
          <li><strong>Arquitecto</strong></li>
          <p>Facultad de Arquitectura, Diseño y Urbanismo - UBA</p>
          <p class="descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ut, labore qui atque, quia maxime quas harum dolore consequuntur officia veritatis tempore natus minus unde, cupiditate eveniet. Sunt, et pariatur!</p>
        </ul>
        </article>
    </div>

    <div class="col-sm-5 fecha">
      <article>
          <p>2019 - actualidad</p>
      </article>
  </div>

    </div>

<br>

    <div class="row n1">
     
      <div class="col-md-2 imagen-estudio3">
        <img src="./../../../assets/img/ESTUDIOS-ET7.jpg" alt="">
      </div>
      <div class="col-sm-5">
        <article>
          <ul>
            <li><strong>Tecnico en Administración de Empresas</strong></li>
            <p>Escuela tecnica n°7 Dolores Lavalle De Lavalle</p>
            <p></p>
          </ul>
        </article>
      </div>

      <div class="col-sm-5 fecha">
        <article>
            <p>2013 - 2018</p>
        </article>
    </div>
    
    </div> -->

   
  </div>
</section>