ul li{   /*buscamos donde estan las redes y quitamos los puntito*/
    list-style-type: none;
    margin-left: 0%; /* estaba en -3,5% */
}

#educacion h2{
    position: relative;
}

.editar-agregar-educacion{
    position: absolute;
    display:flex;
    justify-content: end;
    align-items: center;
}

.imagen-estudio1 img{
    max-width: 150px;
    max-height: 120px;
}

.imagen-estudio2 img{
    width: 210px;
    border-radius: 2%;
}

.imagen-estudio3 img{
    width: 120px;
    border-radius: 50%;
}

.imagen-estudio1, .imagen-estudio2, .imagen-estudio3{
    align-items: center;
    justify-content: center;
    text-align: center;
}



.row {
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

/*distancia entre cada estudio*/
.n1{
    padding-bottom: 3rem;
}


.fecha{
   padding-left: 2.8rem;
}

/*titulo/especialidad*/
li{
    font-size: 25px;
}

/*institucion*/
.texto-institucion{
    font-size: 20px;
}

.texto-descripcion{
    font-size: 16px;
    padding-top: 10px;
    max-width: 500px;
    
}

.d1{
    padding-top: 3rem;
}

.fecha p {
    font-size: 18px;
}

/**.imagen-estudio1{
    filter: invert();
}  **/


/*para que el contenido respete su contenedor*/
.estudio-datos{ 
    word-wrap: break-word;
}
