<!--seccion educacion-->
<section id="educacion">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h2>Educacion</h2>

        <article>
          <ul>
            <li><strong>Fullstack Developer Jr</strong></li>
            <p>Argentina Programa - INTI - CESSI</p>
            <p>2022 - 2023</p>
            <li><strong>Arquitecto</strong></li>
            <p>Facultad de Arquitectura, Diseño y Urbanismo - UBA</p>
            <p>2019 - en curso</p>
            <li><strong>Tecnico en Administración de Empresas</strong></li>
            <p>Escuela tecnica n°7 Dolores Lavalle De Lavalle</p>
            <p>2012 - 2018</p>
          </ul>
        </article>

        <div class="editar-agregar-educacion">
          <app-agregar-educacion></app-agregar-educacion>
          <app-editar-educacion></app-editar-educacion>
        </div>
      </div>
    </div>
  </div>
</section>
