<!--MODAL EDITAR PROYECTOS-->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-editar-proyectos"> <!--debe coincidir con el id de los modales de abajo-->
    <!--en lugar de INGRESAR le pongo un icono de candado para probar-->
    <i class="fa-solid fa-pen-to-square" title="editar"></i>
  </button>

  <!-- -----boton para eliminar------
<button type="button" class="btn">
  <i class="fa-solid fa-trash" title="borrar"></i>
</button> -->


  
<!--MODALES--> <!--cuadro de dialogo--> 
    <!-- Modal Editar --> <!-- el id="" estaremos llamando desde nuestro trigger o disparador con nuestro boton que tenemos-->
    <div class="modal fade" id="modal-editar-proyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header"> <!--modal de encabezado-->
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Proyectos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--boton X de arriba a la derecha del modal-->
          </div>

          <form>
          <div class="modal-body"> <!--cuerpo de modal-->
          

              <select class="form-select" id="proyectosId">
                <option selected>Seleccionar proyecto</option>
                <option value="1">ID1</option>
                <option value="2">ID2</option>
                <option value="3">ID3</option>
              </select>

              <div class="mb-3"> <!--Titulo-->
                <label for="Titulo" class="form-label">Modificar Titulo</label>
                <input class="form-control" type="text" id="Titulo">
              </div>

            
              <div class="mb-3"> <!--proyectos Url-->
                <label for="proyectosUrl" class="form-label">Modificar Link</label>
                <input class="form-control" type="url" id="proyectosUrl">
              </div>

              <div class="mb-3"> <!--proyectos Img-->
                <label for="proyectosImg" class="form-label">Modificar Imagen</label>
                <input class="form-control" type="file" id="proyectosImg">
              </div>  
  
              <div class="mb-3"> <!--descripcion-->
                <label for="Descripcion" class="form-label">Modificar Descripcion</label> <!--LABEL ES ETIQUETA-->
                <textarea class="form-control" id="Descripcion"> </textarea> <!--textarea es una entrada de texto largo-->
              </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> <!--cerrar-->
            <button type="submit" class="btn btn-primary">Ingresar</button> <!--ingresar-->
          </div>
        </div>
      </form>
        </div>
      </div>
    </div>