#skills h2{
    position: relative;
}

.editar-skills{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: left !important;
}

.row div{
    text-align: center;  
}

.row{
    align-items: center;
    justify-content: center;
}

.titulo{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

@media (max-width:500px){
    .titulo h2 {
        width: 200px;
    }
}


/**.imagen-skill {
    background-color: black;
    height: 100%;
    width: 100%;
} **/






