<!--seccion Habilidades blandas y-->
<section id="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h2>Habilidades/skills</h2>
        <p>html5</p>
        <p>css</p>
        <p>botstrap</p>
        <p>css</p>
        <p>javascript</p>
        <p>typescript</p>
        <p>github</p>

        <div class="editar-skills">
          <app-agregar-skills></app-agregar-skills>
          <app-editar-skills></app-editar-skills>
        </div>
      </div>
    </div>
  </div>
</section>
