  <!--MODAL AGREGAR EDUCACION-->
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-agregar-educacion"> <!--debe coincidir con el id de los modales de abajo-->
    <i class="fa-sharp fa-solid fa-plus" title="agregar"></i>
  </button>


    <!--MODALES--> <!--cuadro de dialogo--> 
      <!-- Modal Agregar --> <!-- el id="" estaremos llamando desde nuestro trigger o disparador con nuestro boton que tenemos-->
      <div class="modal fade" id="modal-agregar-educacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header"> <!--modal de encabezado-->
              <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--boton X de arriba a la derecha del modal-->
            </div>
            
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
            <div class="modal-body"> <!--cuerpo de modal-->

                <div class="mb-3"> <!--Titulo-->
                  <label for="titulo" class="form-label">Titulo/Especialidad</label>
                  <input class="form-control" type="text" id="titulo" formControlName="titulo_especialidad" [(ngModel)]="titulo_especialidad" [class.border-danger]="Titulo_especialidadValid">
                </div>
                <div *ngIf="Titulo_especialidad?.errors  && Titulo_especialidad?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                  <p *ngIf="Titulo_especialidad?.hasError('required')" class="error">
                      El campo es requerido.
                  </p>
                </div>

                <div class="mb-3"> <!--Institucion-->
                  <label for="Titulo" class="form-label">Institucion</label>
                  <input class="form-control" type="text" id="Titulo" formControlName="institucion" [(ngModel)]="institucion" [class.border-danger]="InstitucionValid">
                </div>
                <div *ngIf="Institucion?.errors  && Institucion?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                  <p *ngIf="Institucion?.hasError('required')" class="error">
                      El campo es requerido.
                  </p>
                </div>

                <div class="mb-3"> <!--educacion Img-->
                  <label for="educacionImg" class="form-label">Agregar logo</label>
                  <input class="form-control" type="url" id="educacionImg" formControlName="imagen" [(ngModel)]="imagen" [class.border-danger]="ImagenValid">
                </div>
                <div *ngIf="Imagen?.errors  && Imagen?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                  <p *ngIf="Imagen?.hasError('required')" class="error">
                      El campo es requerido.
                  </p>
                </div>


                <div class="mb-3"> <!--fecha de inicio-->
                  <label for="PeriodoInicio" class="form-label">Agregar Peridodo Inicio</label>
                  <input type="text" class="form-control" id="PeriodoInicio" formControlName="fecha_inicio" [(ngModel)]="fecha_inicio" [class.border-danger]="Fecha_inicioValid">
                </div>
                <div *ngIf="Fecha_inicio?.errors  && Fecha_inicio?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                  <p *ngIf="Fecha_inicio?.hasError('required')" class="error">
                      El campo es requerido.
                  </p>
                </div>

                <div class="mb-3"> <!--fecha de fin-->
                  <label for="PeriodoFin" class="form-label">Agregar Peridodo Fin</label>
                  <input type="text" class="form-control" id="PeriodoFin" formControlName="fecha_fin" [(ngModel)]="fecha_fin" [class.border-danger]="Fecha_finValid">
                </div>
                <div *ngIf="Fecha_fin?.errors  && Fecha_fin?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                  <p *ngIf="Fecha_fin?.hasError('required')" class="error">
                      El campo es requerido.
                  </p>
                </div>
    
    
                <div class="mb-3"> <!--descripcion-->
                  <label for="Descripcion" class="form-label">Descripcion (opcional)</label> <!--LABEL ES ETIQUETA-->
                  <textarea class="form-control" id="Descripcion" formControlName="descripcion" [(ngModel)]="descripcion"> </textarea> <!--textarea es una entrada de texto largo-->
                </div>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> <!--cerrar-->
              <button type="submit" class="btn btn-primary">Ingresar</button> <!--ingresar-->
            </div>
          </div>
        </form>
          </div>
        </div>
      </div>