  <!--MODAL AGREGAR SKILLS-->
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-agregar-skills"> <!--debe coincidir con el id de los modales de abajo-->
    <i class="fa-sharp fa-solid fa-plus" title="agregar"></i>
  </button>

  
<!--MODALES--> <!--cuadro de dialogo--> 
    <!-- Modal Editar-Agregar --> <!-- el id="" estaremos llamando desde nuestro trigger o disparador con nuestro boton que tenemos-->
    <div class="modal fade" id="modal-agregar-skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header"> <!--modal de encabezado-->
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--boton X de arriba a la derecha del modal-->
          </div>

          <form  [formGroup]="form" (ngSubmit)="onEnviar($event)">
          <div class="modal-body"> <!--cuerpo de modal-->

              <div class="mb-3"> <!--Logo-->
                <label for="skillsImg" class="form-label">Agregar logo</label>
                <input class="form-control" type="url" id="skillsImg" formControlName="logo" [(ngModel)]="logo" [class.border-danger]="LogoValid">
              </div>
              <div *ngIf="Logo?.errors  && Logo?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                <p *ngIf="Logo?.hasError('required')" class="error">
                    El campo es requerido.
                </p>
              </div>

              <div class="mb-3"> <!--Porcentaje-->
                <label for="Titulo" class="form-label">Agregar porcentaje</label>
                <input class="form-control" type="number" id="Titulo" formControlName="porcentaje" [(ngModel)]="porcentaje" [class.border-danger]="PorcentajeValid">
              </div>
              <div *ngIf="Porcentaje?.errors  && Porcentaje?.touched">     <!--los ngIf solo muestran el texto si cumple la condicion-->
                <p *ngIf="Porcentaje?.hasError('required')" class="error">
                    El campo es requerido.
                </p>
              </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> <!--cerrar-->
            <button type="submit" class="btn btn-primary">Ingresar</button> <!--ingresar-->
          </div>
        </div>
      </form>
        </div>
      </div>
    </div>