/* You can add global styles to this file, and also import other style files */

/* OJO   SON ESTILOS GLOBALES, MODIFICAN TODO*/

body{
    background-color: rgba(0, 0, 0, 0.566); /*  backround es atributo rgb es el atributo */
    color: white; /*color de fuente*/   
}

body h1, h2, h3, h4, h5{
    padding-left: none;
    text-align: center;
}


footer{
    background-color: rgb(63, 80, 79);
    padding-top: 2rem;
}

* , ::after, ::before {
    box-sizing: border-box;
}
